<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles1.css">
    <title>Bookflix.in</title>
</head>
<body>
    <header class="header">
        <div class="menu-toggle" id="menuToggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="heading" id="heading">
            <h1><img src="8f8f21f1ba4ad3a50e26c7911f77784a.png" alt="bookflix-font" border="0"></h1>
        </div>
        <nav id="navMenu" class="nav-menu">
            <button id="closeMenu" class="close-menu">&times;</button> <!-- Close button -->
            <ul>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="">Subscribe</a></li>
                <li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" id="logoutbtn">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="card">
            <a href="https://play.google.com/store/books/details/Josh_Ostrander_Star_Wars_Agent_of_Empire_Vol_2?id=DirABQAAQBAJ" target="_blank"><img src="DirABQAAQBAJ.png" alt="Book Image"></a>
            <div class="card-text">
                <h3>Star Wars Agent of Empire Vol.2</h3>
                <p>Author: Josh Ostrander</p>
                <a href="https://play.google.com/store/books/details/Josh_Ostrander_Star_Wars_Agent_of_Empire_Vol_2?id=DirABQAAQBAJ" class="read-button" target="_blank">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <div class="card">
            <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html"><img src="joshbillings.jpg" alt="Book Image"></a>
            <div class="card-text">
                <h3>Old Farmer's Allminax</h3>
                <p>Author: Josh Billings</p>
                <a href="https://www.gutenberg.org/cache/epub/40191/pg40191-images.html" class="read-button">Read</a>
            </div>
        </div>
        <!-- Add more cards as needed -->
    </div>
    <footer class="footer">
        <p>&copy; 2024 Bookflix. All rights reserved.</p>
    </footer>
    <script src="/frontend/views/script.js"></script>
</body>
</html>
